.phone-input,
.regen {
    min-height: 22px;
    padding: 15px 15px;
    background: transparent;
    background-image: none;
    color: white;

    border: none;
    border-bottom: 2px solid white;
    border-radius: 0;

    box-shadow: none;
    outline: none;
}

.phone-input:focus,
.regen:focus,
.phone-input:focus-within,
.regen:focus-within,
.phone-input:hover,
.regen:hover {
    background: transparent;
    background-image: none;
    border: none;
    border-bottom: 2px solid white;
    box-shadow: none;
    outline: none;
}

.phone-input > text,
.regen > text {
    background: transparent;
    color: white;
    font-size: 16px;
}

.phone-input > text > placeholder,
.regen > text > placeholder {
	font-size: 16px;
    color: #888888;
}

.phone-input > text > placeholder {
	font-size: 20px;
	font-weight: 500;
}

.regen {
    min-width: 60px;
}
.phone-input {
    min-width: 250px;
}