.chat-area-container {
	border: none;
	box-shadow: none;
	outline: none;
    background-color: #000;
}

.chat-title-panel {
	background-color: #272727;
    padding: 10px 20px;
    border-bottom: 1px solid #212121;
}

.chat-header-title {
    font-weight: bold;
    font-size: 15px;
    color: #e9e9e9;
}

.chat-header-subtitle {
    font-size: 14px;
    color: #676767;
}

.chat-messages-box {
    padding: 20px;
}

.message-incoming, .message-outgoing {
    padding: 8px 14px;
    font-size: 15px;
    border-radius: 20px;
    margin: 4px 0px;
}

.message-incoming {
    background-color: #1f1f1f;
    border-bottom-left-radius: 0;
    color: #e9e9e9;
}

.message-text {
	margin: 0;
	padding: 0;
}

.message-outgoing {
    background-color: #4c4c4c; 
    border-bottom-right-radius: 0;
    color: #e9e9e9;
}

.message-time {
    color: #919191;
    margin-top: -5px;
}

.chat-input-panel {
    background-color: #272727;
    padding: 10px 15px;
    box-shadow: none;
    border-top: 1px solid #212121;
}

entry {
	font-size: 15px;
	box-shadow: none;
	border: none;
	background-color: #272727;
	color: #e9e9e9;
}
entry > placeholder {
	padding: 10px 10px;
	font-size: 15px;
	color: #919191;
}

.chat-send-button {
    background-color: #272727;
    color: white;
    font-weight: bold;
    border-radius: 6px;
}