.login-page {
    background-color: #000000;
}

.login-title {
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
}

/* Entry */

entry.phone-input {
    min-width: 320px;
    min-height: 42px;

    padding: 10px 0;

    background: transparent;
    color: #ffffff;

    border-radius: 0;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #5f5f5f;
}

entry.phone-input:focus {
    border-bottom: 2px solid #ffffff;
}

entry.phone-input placeholder {
    color: #7a7a7a;
}

button.continue-button {
    background: #ffffff;
}

button.continue-button:hover {
    background-image: none;
    background-color: white;
}

